.portfolio_currency_name {
  display: flex;
  align-items: center;
}

.portfolio_currency_price {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.portfolio_row_data{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem ;
}

.portfolio_currency_amount{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.portfolio_currency_row {
  display: flex;
  font-size: 20px;
  color: black;
  justify-content: space-between;
}
.remove_button_container {
  display: flex;
  align-content: flex-start;

  flex-wrap: wrap;
}
.remove_currency_button {
  margin: 0 0 0 20px;
  align-items: center;
  appearance: none;
  background-color: rgba(143, 141, 143, 0.53);
  border-radius: 24px;
  border-style: none;
  cursor: pointer;
  font-size: 20px;
  height: 35px;
  max-width: 100%;
  padding: 2px 12px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;

  &:hover {
    background: #F6F9FE;
    color: #ee1e08;
  }

  &:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
}

@media (max-width: 768px) {
  .portfolio_row_data{
    font-size: 16px;
  }

}

