.header {
  display: flex;
  height: 4.375rem;
  padding-top: 1.25rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #000101;
  text-align: center;
  box-shadow: 2px 2px 8px #a8a8a8;
  background-color: rgba(159, 161, 161, 0.49);
  width: 100%;
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.header a {
  text-decoration: none;
  color: #000101;
  margin: 0 1rem;
  transition: color 0.3s ease-in-out;
}

.header a:hover {
  color: rgba(243, 43, 3, 0.66);
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem 0;
    margin-bottom: 30px;
  }

  .header h1 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .header a {
    margin: 0.5rem 0;
  }
}
