.container {
  display: flex;
  justify-content: center;
  align-items: center;
 }

.cryptoTable {
  margin-top: 30px;
  margin-bottom:30px ;
  width: 1100px;
  border-collapse: separate;
  border-spacing: 0 1em;
  font-size: 20px;

  thead {

    th {
      color: rgba(0, 0, 0, 0.55);
    }
  }
  tbody tr {
    background: #fff;
    -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
    box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
    td > * {
      vertical-align: middle;
    }
    td:first-child {
      -moz-border-radius: 10px 0 0 10px;
      -webkit-border-radius: 10px 0 0 10px;
    }
    td:last-child {
      -moz-border-radius: 0 10px 10px 0;
      -webkit-border-radius: 0 10px 10px 0;
    }
    td img {
      width: 25px;
      height: 25px;
    }
  }
}

.plusIcon svg{
  width: 20px;
  height: 20px;
  color: #282c34;
}

.textCrypto{
  color: black;
}
.textCrypto:hover{
  color: rgba(243, 43, 3, 0.66);
}
.link {
  text-decoration: none;
  color: black;
  cursor: auto;
}
.link:hover{
  color: rgba(243, 43, 3, 0.66);
}
