

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cryptoTable {
  width: 68.75rem;
  margin: 1.875rem;
  border-collapse: separate;
  border-spacing: 0 1em;
  font-size: 1.25rem;
}

.cryptoTable thead th {
  color: rgba(0, 0, 0, 0.55);

}

.cryptoTable tbody tr {
  background: #fff;
  -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
}

.cryptoTable tbody tr td > * {
  vertical-align: middle;
}

.cryptoTable tbody tr td:first-child {
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
}

.cryptoTable tbody tr td:last-child {
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
}

.cryptoTable tbody tr td img {
  width: 1.5625rem;
  height: 1.5625rem;
}

.plus_icon svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #282c34;
}

.textCrypto {
  color: black;
}

.textCrypto:hover {
  color: rgba(243, 43, 3, 0.66);
}

.link {
  text-decoration: none;
  color: black;
  cursor: auto;
}

.link:hover {
  color: rgba(243, 43, 3, 0.66);
}

@media screen and (max-width: 768px) {
  .cryptoTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 10px;
    border-spacing: 0;
    font-size: 0.8rem;
  }
  .plus_icon svg {
    width: 1rem;
    height: 1rem;
  }
  .cryptoTable thead th {
    align-items: initial;
    font-size: 0.8rem;
  }
}
